
body {
    background-color:aliceblue; 
	text-align: center;
}


#describe-form {
    padding: 20px; 
}

#search-descriptor {
    margin: 10px;
    font-variant: small-caps;
<<<<<<< HEAD
}

#mapid { 
    height: 180px; 
}
=======

#mapid { 

	height: 180px; 


}
>>>>>>> 284b9c8097806b268d993b77dc13aa4ebe106702
